// display
@each $name, $query-min, $query-max in $m-queries {
  @media screen and (min-width: $query-min) and (max-width: $query-max){
    .hidden-#{$name} {
      display: none;
    }
    .show-inline-#{$name} {
      display: inline-block;
    }
    .show-block-#{$name} {
      display: block;
    }
    .show-flex-#{$name} {
      display: flex;
    }
    .show-inline-flex-#{$name} {
      display: inline-flex;
    }
  }
}

@each $name, $query-min, $query-max in $m-queries {
  @media screen and (min-width: $query-min) {
    .hidden-from-#{$name} {
      display: none;
    }
    .show-inline-from-#{$name} {
      display: inline-block;
    }
    .show-block-from-#{$name} {
      display: block;
    }
    .show-flex-from-#{$name} {
      display: flex;
    }
    .show-inline-from-flex-#{$name} {
      display: inline-flex;
    }
  }
}
