// display
@each $label, $map in $m-queries {
  @media screen and (min-width: map-get($map, "since")) {
    .hide-since-#{$label} {
      display: none;
    }
    .show-inline-since-#{$label} {
      display: inline-block;
    }
    .show-block-since-#{$label} {
      display: block;
    }
    .show-flex-since-#{$label} {
      display: flex;
    }
    .show-inline-flex-since-#{$label} {
      display: inline-flex;
    }
  }
}

@each $label, $map in $m-queries {
  @media screen and (min-width: map-get($map, "since")) and (max-width: map-get($map, "until")){
    .hide-in-#{$label} {
      display: none;
    }
    .show-inline-in-#{$label} {
      display: inline-block;
    }
    .show-block-in-#{$label} {
      display: block;
    }
    .show-flex-in-#{$label} {
      display: flex;
    }
    .show-inline-flex-in-#{$label} {
      display: inline-flex;
    }
  }
}

@each $label, $map in $m-queries {
  @media screen and (max-width: map-get($map, "until")) {
    .hide-until-#{$label} {
      display: none;
    }
    .show-inline-until-#{$label} {
      display: inline-block;
    }
    .show-block-until-#{$label} {
      display: block;
    }
    .show-flex-until-#{$label} {
      display: flex;
    }
    .show-inline-flex-until-#{$label} {
      display: inline-flex;
    }
  }
}
