// flex
.flex,
.flex-row,
.flex-col {
  box-sizing: border-box;
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &.y-start {
    align-items: flex-start;
  }
  &.y-end {
    align-items: flex-end;
  }
  &.y-center {
    align-items: center;
  }
  &.y-baseline {
    align-items: baseline;
  }
  &.y-stretch {
    align-items: stretch;
  }
  &.x-start {
    justify-content: flex-start;
  }
  &.x-end {
    justify-content: flex-end;
  }
  &.x-center {
    justify-content: center;
  }
  &.x-around {
    justify-content: space-around;
  }
  &.x-between {
    justify-content: space-between;
  }
  &.x-evenly {
    justify-content: space-evenly;
  }
  @for $g from 1 through $m-grid {
    > .order-#{$g} {
      order: #{$g};
    }
  }
  @each $label, $map in $m-queries {
    @media screen and (min-width: map-get($map, "since")) {
      &.wrap-#{$label} {
        flex-wrap: wrap;
      }
      &.nowrap-#{$label} {
        flex-wrap: nowrap;
      }
      &.wrap-reverse-#{$label} {
        flex-wrap: wrap-reverse;
      }
      &.y-start-#{$label} {
        align-items: flex-start;
      }
      &.y-end-#{$label} {
        align-items: flex-end;
      }
      &.y-center-#{$label} {
        align-items: center;
      }
      &.y-baseline-#{$label} {
        align-items: baseline;
      }
      &.y-stretch-#{$label} {
        align-items: stretch;
      }
      &.x-start-#{$label} {
        justify-content: flex-start;
      }
      &.x-end-#{$label} {
        justify-content: flex-end;
      }
      &.x-center-#{$label} {
        justify-content: center;
      }
      &.x-around-#{$label} {
        justify-content: space-around;
      }
      &.x-between-#{$label} {
        justify-content: space-between;
      }
      &.x-evenly-#{$label} {
        justify-content: space-evenly;
      }
      @for $g from 1 through $m-grid {
        > .order-#{$g}-#{$label} {
          order: #{$g};
        }
      }
    }
  }
}

.flex,
.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  &.row-reverse {
    flex-direction: row-reverse;
  }
  @each $label, $map in $m-queries {
    @media screen and (min-width: map-get($map, "since")) {
      &.row-reverse-#{$label} {
        flex-direction: row-reverse;
      }
    }
  }
}

.flex-col {
  flex-direction: column;
  flex-wrap: nowrap;
  &.col-reverse {
    flex-direction: column-reverse;
  }
  @each $label, $map in $m-queries {
    @media screen and (min-width: map-get($map, "since")) {
      &.col-reverse#{$label} {
        flex-direction: row-reverse;
      }
    }
  }
}

.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-baseline {
  align-self: baseline;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}

@each $label, $map in $m-queries {
  @media screen and (min-width: map-get($map, "since")) {
    .flex-#{$label},
    .flex-row-#{$label},
    .flex-col-#{$label} {
      box-sizing: border-box;
      display: flex;
      &.wrap-#{$label} {
        flex-wrap: wrap;
      }
      &.nowrap-#{$label} {
        flex-wrap: nowrap;
      }
      &.wrap-reverse-#{$label} {
        flex-wrap: wrap-reverse;
      }
      &.y-start-#{$label} {
        align-items: flex-start;
      }
      &.y-end-#{$label} {
        align-items: flex-end;
      }
      &.y-center-#{$label} {
        align-items: center;
      }
      &.y-baseline-#{$label} {
        align-items: baseline;
      }
      &.y-stretch-#{$label} {
        align-items: stretch;
      }
      &.x-start-#{$label} {
        justify-content: flex-start;
      }
      &.x-end-#{$label} {
        justify-content: flex-end;
      }
      &.x-center-#{$label} {
        justify-content: center;
      }
      &.x-around-#{$label} {
        justify-content: space-around;
      }
      &.x-between-#{$label} {
        justify-content: space-between;
      }
      &.x-evenly-#{$label} {
        justify-content: space-evenly;
      }
      @for $g from 1 through $m-grid {
        > .order-#{$g}-#{$label} {
          order: #{$g};
        }
      }
    }

    .flex-#{$label},
    .flex-row-#{$label} {
      flex-direction: row;
      flex-wrap: wrap;
      &.row-reverse-#{$label} {
        flex-direction: row-reverse;
      }
    }

    .flex-col-#{$label} {
      flex-direction: column;
      flex-wrap: nowrap;
      &.col-reverse-#{$label} {
        flex-direction: column-reverse;
      }
    }

    .self-start-#{$label} {
      align-self: flex-start;
    }
    .self-end-#{$label} {
      align-self: flex-end;
    }
    .self-baseline-#{$label} {
      align-self: baseline;
    }
    .self-center-#{$label} {
      align-self: center;
    }
    .self-stretch-#{$label} {
      align-self: stretch;
    }
  }
}
