// margins
@for $m from 0 through $m-spacevariations {
  .m-#{$m} {
    margin: $m-spacelement * $m;
  }
  .m-x-#{$m} {
    margin-left: $m-spacelement * $m;
    margin-right: $m-spacelement * $m;
  }
  .m-y-#{$m} {
    margin-bottom: $m-spacelement * $m;
    margin-top: $m-spacelement * $m;
  }
  .m-l-#{$m} {
    margin-left: $m-spacelement * $m;
  }
  .m-r-#{$m} {
    margin-right: $m-spacelement * $m;
  }
  .m-t-#{$m} {
    margin-top: $m-spacelement * $m;
  }
  .m-b-#{$m} {
    margin-bottom: $m-spacelement * $m;
  }
  .m--#{$m} {
    margin: -($m-spacelement) * $m;
  }
  .m--x-#{$m} {
    margin-left: -($m-spacelement) * $m;
    margin-right: -($m-spacelement) * $m;
  }
  .m--y-#{$m} {
    margin-bottom: -($m-spacelement) * $m;
    margin-top: -($m-spacelement) * $m;
  }
  .m--l-#{$m} {
    margin-left: -($m-spacelement) * $m;
  }
  .m--r-#{$m} {
    margin-right: -($m-spacelement) * $m;
  }
  .m--t-#{$m} {
    margin-top: -($m-spacelement) * $m;
  }
  .m--b-#{$m} {
    margin-bottom: -($m-spacelement) * $m;
  }
}

@each $label, $map in $m-queries {
  @media screen and (min-width: map-get($map, "since")) {
    @for $m from 0 through $m-spacevariations {
      .m-#{$m}-#{$label} {
        margin: $m-spacelement * $m;
      }
      .m-x-#{$m}-#{$label} {
        margin-left: $m-spacelement * $m;
        margin-right: $m-spacelement * $m;
      }
      .m-y-#{$m}-#{$label} {
        margin-bottom: $m-spacelement * $m;
        margin-top: $m-spacelement * $m;
      }
      .m-l-#{$m}-#{$label} {
        margin-left: $m-spacelement * $m;
      }
      .m-r-#{$m}-#{$label} {
        margin-right: $m-spacelement * $m;
      }
      .m-t-#{$m}-#{$label} {
        margin-top: $m-spacelement * $m;
      }
      .m-b-#{$m}-#{$label} {
        margin-bottom: $m-spacelement * $m;
      }
      .m--#{$m}-#{$label} {
        margin: -($m-spacelement) * $m;
      }
      .m--x-#{$m}-#{$label} {
        margin-left: -($m-spacelement) * $m;
        margin-right: -($m-spacelement) * $m;
      }
      .m--y-#{$m}-#{$label} {
        margin-bottom: -($m-spacelement) * $m;
        margin-top: -($m-spacelement) * $m;
      }
      .m--l-#{$m}-#{$label} {
        margin-left: -($m-spacelement) * $m;
      }
      .m--r-#{$m}-#{$label} {
        margin-right: -($m-spacelement) * $m;
      }
      .m--t-#{$m}-#{$label} {
        margin-top: -($m-spacelement) * $m;
      }
      .m--b-#{$m}-#{$label} {
        margin-bottom: -($m-spacelement) * $m;
      }
    }
  }
}
