// paddings
@for $p from 0 through $m-spacevariations {
  .p-#{$p} {
    padding: $m-spacebase * $p;
  }
  .p-x-#{$p} {
    padding-left: $m-spacebase * $p;
    padding-right: $m-spacebase * $p;
  }
  .p-y-#{$p} {
    padding-bottom: $m-spacebase * $p;
    padding-top: $m-spacebase * $p;
  }
  .p-l-#{$p} {
    padding-left: $m-spacebase * $p;
  }
  .p-r-#{$p} {
    padding-right: $m-spacebase * $p;
  }
  .p-t-#{$p} {
    padding-top: $m-spacebase * $p;
  }
  .p-b-#{$p} {
    padding-bottom: $m-spacebase * $p;
  }
}

@each $name, $query in $m-queries {
  @media screen and (min-width: $query) {
    @for $p from 0 through $m-spacevariations {
      .p-#{$name}-#{$p} {
        padding: $m-spacebase * $p;
      }
      .p-x-#{$name}-#{$p} {
        padding-left: $m-spacebase * $p;
        padding-right: $m-spacebase * $p;
      }
      .p-y-#{$name}-#{$p} {
        padding-bottom: $m-spacebase * $p;
        padding-top: $m-spacebase * $p;
      }
      .p-l-#{$name}-#{$p} {
        padding-left: $m-spacebase * $p;
      }
      .p-r-#{$name}-#{$p} {
        padding-right: $m-spacebase * $p;
      }
      .p-t-#{$name}-#{$p} {
        padding-top: $m-spacebase * $p;
      }
      .p-b-#{$name}-#{$p} {
        padding-bottom: $m-spacebase * $p;
      }
    }
  }
}
