// rows
.flex-col {
  > .row-0 {
    flex: 0 0;
  }
  > .row-1 {
    flex: 1 0;
  }
  @for $i from 1 through $m-grid {
    @for $j from 1 through $i {
      > .row-#{$j}_#{$i} {
        height: calc(100vh * #{$j}/#{$i});
      }
    }
  }
  @each $label, $map in $m-queries {
    @media screen and (min-width: map-get($map, "since")) {
      @for $i from 1 through $m-grid {
        @for $j from 1 through $i {
          > .row-#{$j}_#{$i}-#{$label} {
            height: calc(100vh * #{$j}/#{$i});
          }
        }
      }
    }
  }
}

@each $label, $map in $m-queries {
  @media screen and (min-width: map-get($map, "since")) {
    .flex-col-#{$label} {
      > .row-0 {
        flex: 0 0;
      }
      > .row-1 {
        flex: 1 0;
      }
      @for $i from 1 through $m-grid {
        @for $j from 1 through $i {
          > .row-#{$j}_#{$i} {
            height: calc(100vh * #{$j}/#{$i});
          }
        }
      }
      @each $label, $map in $m-queries {
        @media screen and (min-width: map-get($map, "since")) {
          @for $i from 1 through $m-grid {
            @for $j from 1 through $i {
              > .row-#{$j}_#{$i}-#{$label} {
                height: calc(100vh * #{$j}/#{$i});
              }
            }
          }
        }
      }
    }
  }
}
