// spacing
.flex {
  @for $i from 1 through $m-grid {
    @for $j from 1 through $i {
      > .space-l-#{$j}_#{$i} {
        margin-left: calc(100% * #{$j}/#{$i});
      }
      > .space-r-#{$j}_#{$i} {
        margin-right: calc(100% * #{$j}/#{$i});
      }
      > .space--l-#{$j}_#{$i} {
        margin-left: calc(0px - (100% * #{$j}/#{$i}));
      }
      > .space--r-#{$j}_#{$i} {
        margin-right: calc(0px - (100% * #{$j}/#{$i}));
      }
    }
  }
  @each $label, $map in $m-queries {
    @media screen and (min-width: map-get($map, "since")) {
      @for $i from 1 through $m-grid {
        @for $j from 1 through $i {
          > .space-l-#{$j}_#{$i}-#{$label} {
            margin-left: calc(100% * #{$j}/#{$i});
          }
          > .space-r-#{$j}_#{$i}-#{$label} {
            margin-right: calc(100% * #{$j}/#{$i});
          }
          > .space--l-#{$j}_#{$i}-#{$label} {
            margin-left: calc(0px - (100% * #{$j}/#{$i}));
          }
          > .space--r-#{$j}_#{$i}-#{$label} {
            margin-right: calc(0px - (100% * #{$j}/#{$i}));
          }
        }
      }
    }
  }
}

.flex-row {
  @for $i from 1 through $m-grid {
    @for $j from 1 through $i {
      > .space-l-#{$j}_#{$i} {
        margin-left: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
      }
      > .space-r-#{$j}_#{$i} {
        margin-right: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
      }
      > .space--l-#{$j}_#{$i} {
        margin-left: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
      }
      > .space--r-#{$j}_#{$i} {
        margin-right: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
      }
    }
  }
  @each $label, $map in $m-queries {
    @media screen and (min-width: map-get($map, "since")) {
      @for $i from 1 through $m-grid {
        @for $j from 1 through $i {
          > .space-l-#{$j}_#{$i}-#{$label} {
            margin-left: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
          }
          > .space-r-#{$j}_#{$i}-#{$label} {
            margin-right: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
          }
          > .space--l-#{$j}_#{$i}-#{$label} {
            margin-left: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
          }
          > .space--r-#{$j}_#{$i} {
            margin-right: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
          }
        }
      }
    }
  }
}

@each $label, $map in $m-queries {
  @media screen and (min-width: map-get($map, "since")) {
    .flex-#{$label} {
      @for $i from 1 through $m-grid {
        @for $j from 1 through $i {
          > .space-l-#{$j}_#{$i} {
            margin-left: calc(100% * #{$j}/#{$i});
          }
          > .space-r-#{$j}_#{$i} {
            margin-right: calc(100% * #{$j}/#{$i});
          }
          > .space--l-#{$j}_#{$i} {
            margin-left: calc(0px - (100% * #{$j}/#{$i}));
          }
          > .space--r-#{$j}_#{$i} {
            margin-right: calc(0px - (100% * #{$j}/#{$i}));
          }
        }
      }
      @each $label, $map in $m-queries {
        @media screen and (min-width: map-get($map, "since")) {
          @for $i from 1 through $m-grid {
            @for $j from 1 through $i {
              > .space-l-#{$j}_#{$i}-#{$label} {
                margin-left: calc(100% * #{$j}/#{$i});
              }
              > .space-r-#{$j}_#{$i}-#{$label} {
                margin-right: calc(100% * #{$j}/#{$i});
              }
              > .space--l-#{$j}_#{$i}-#{$label} {
                margin-left: calc(0px - (100% * #{$j}/#{$i}));
              }
              > .space--r-#{$j}_#{$i}-#{$label} {
                margin-right: calc(0px - (100% * #{$j}/#{$i}));
              }
            }
          }
        }
      }
    }

    .flex-row-#{$label} {
      @for $i from 1 through $m-grid {
        @for $j from 1 through $i {
          > .space-l-#{$j}_#{$i} {
            margin-left: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
          }
          > .space-r-#{$j}_#{$i} {
            margin-right: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
          }
          > .space--l-#{$j}_#{$i} {
            margin-left: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
          }
          > .space--r-#{$j}_#{$i} {
            margin-right: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
          }
        }
      }
      @each $label, $map in $m-queries {
        @media screen and (min-width: map-get($map, "since")) {
          @for $i from 1 through $m-grid {
            @for $j from 1 through $i {
              > .space-l-#{$j}_#{$i}-#{$label} {
                margin-left: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
              }
              > .space-r-#{$j}_#{$i}-#{$label} {
                margin-right: calc(100% * #{$j}/#{$i} + #{$m-spacebase} * .5);
              }
              > .space--l-#{$j}_#{$i}-#{$label} {
                margin-left: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
              }
              > .space--r-#{$j}_#{$i} {
                margin-right: calc(0px - (100% * #{$j}/#{$i} + #{$m-spacebase} * .5));
              }
            }
          }
        }
      }
    }
  }
}
