// mol.normalize // mol.grid
$m-queries: (
  "phone": (
    "since": 320px,
    "until": 767px,
    "width": 90%,
    "minwidth": inherit,
    "maxwidth": inherit,
    "height": auto,
    "minheight": 100vh,
    "maxheight": auto
  ),
  "tablet": (
    "since": 768px,
    "until": 1024px,
    "width": 90%,
    "minwidth": inherit,
    "maxwidth": inherit,
    "height": auto,
    "minheight": 100vh,
    "maxheight": auto
  ),
  "laptop": (
    "since": 1025px,
    "until": 1599.99px,
    "width": 90%,
    "minwidth": inherit,
    "maxwidth": inherit,
    "height": auto,
    "minheight": 100vh,
    "maxheight": auto
  ),
  "desktop": (
    "since": 1600px,
    "until": 99999px,
    "width": 90%,
    "minwidth": inherit,
    "maxwidth": inherit,
    "height": auto,
    "minheight": 100vh,
    "maxheight": auto
  )
);

// mol.core // mol.grid
$m-spacelement: 20px;

// mol.grid
$m-spacebase: 40px;
$m-spacevariations: 10;
$m-grid: 10;
