// containers
.main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    width: 100%;
}

.page {
    box-sizing: border-box;
    max-height: auto;
    min-height: 100vh;
}

.container-x {
    margin-left: auto;
    margin-right: auto;
}

@each $name, $query-min, $query-max, $width, $minw, $maxw in $m-queries {
    @media screen and (min-width: $query-min) and (max-width: $query-max) {
        .container-x {
            min-width: $minw;
            max-width: $maxw;
            width: $width;
        }
    }
}
